**/build
**/.gradle
**/.env
**/.env.*
**/*.log
**/*.iml
.idea
face-service/storage
user-service/storage
postman
seed-data
init
docker-compose*.yaml
Dockerfile
.dockerignore
edge
face-service/models/*.part
