**/build
**/.gradle
**/.env
**/.env.*
**/*.log
**/*.iml
.idea
face-service/storage
face-service/models/*.zip*
user-service/storage
postman
seed-data
init
docker-compose*.yaml
Dockerfile
.dockerignore
edge
